anyio==3.5.0
APIFlask==0.11.0
apispec==5.1.1
asgiref==3.5.0
astroid==2.9.3
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
configparser==5.2.0
coverage==6.3
crayons==0.4.0
cryptography==36.0.1
dataclasses==0.6
fastapi==0.73.0
flake8==4.0.1
Flask==2.0.2
Flask-HTTPAuth==4.5.0
flask-marshmallow==0.14.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
marshmallow==3.14.1
mccabe==0.6.1
outcome==1.1.0
packaging==21.3
platformdirs==2.4.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pyflakes==2.4.0
pylint==2.12.2
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyrsistent==0.18.1
pytest==6.2.5
PyYAML==6.0
requests==2.27.1
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.31
starlette==0.17.1
toml==0.10.2
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.0.post1
webargs==8.1.0
webdriver-manager==3.5.2
Werkzeug==2.0.2
wrapt==1.13.3
wsproto==1.0.0
